@{
    ViewData["Title"] = "Home Page";
}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4 text-center">Trip Keeper</h1>
            <p class="lead text-center">Welcome to Trip Buddy! You can do all your paperwork electronically here.</p>
            <div class="col text-center">
                <a class="btn btn-primary text-white" asp-area="Identity" asp-page="/Account/Manage/Index">Click here to get started</a>
                
            </div>
        </div>
    </div>


